@import '../../../assets/styles/layout';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/ui';
@import '../../../assets/styles/variables';

.wrapper {
  @include flex(flex-start, center, row, 80px, nowrap);
  @extend .layout-container;
  padding: 85px 0 120px;
}
.main {
  position: relative;
  background-color: $background-color;
  .imgWrapper {
    transition: box-shadow 0.3s ease-in, filter 0.5s ease-in,
      opacity 0.3s ease-in-out;
    position: relative;
    &:hover {
      & .img {
        filter: brightness(0.8);
      }
      & .imgDescription {
        opacity: 1;
      }
    }
  }
  .img {
    @include img(600px, 566px, cover);
    background-image: url('../assets/friedEggs.png');
    transition: inherit;
    border-radius: 12px;
  }
  .imgDescription {
    @include font(24px, 600, 36px);
    @include flex(space-between, center, row, 20px);
    transition: inherit;
    position: absolute;
    height: 33%;
    opacity: 0;
    bottom: 0;
    color: $background-color;
    transition-delay: 0.2s;
    background: linear-gradient(
      to top,
      rgba($background-color, 0.7) 0%,
      rgba($background-color, 0) 100%
    );
    box-shadow: 0 -1px 1px 0px $background-color inset;
    p {
      width: 100%;
      text-align: center;
    }
  }
  .content {
    @include flex(space-between, flex-start, column, 24px);

    h1 {
      align-self: start;
      @include font(55px, 500, 60px);
    }
    p {
      @include font(18px, 500, 28px);
      color: $text-color;
    }
    .price {
      @include flex(space-between, center, row);
      width: 100%;
      color: $text-accent-color;
      & p {
        @include font(24px, 700, 30px);
      }
    }
  }

  .arrow {
    @include img(200px, 200px, contain);
    transition: opacity 0.3s ease-in-out;
    background-image: url('./assets/arrowRight.svg');
    position: absolute;
    right: 10px;
    top: 50%;
    opacity: 0.2;
    cursor: default;
    transform: translateY(-50%);
    color: $primary-color;
    &:hover {
      opacity: 0.6;
    }
  }
}

.sizeItem {
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  &Wrapper {
    display: flex;
    gap: 8px;
    background: inherit;
  }

  @include tabBorder;
  border-radius: 100px;
  @include flex(flex-start, center, row);
  padding: 8px;
  &:hover {
    @extend .active;
  }

  & p {
    transition: inherit;
    font-weight: 700;
    border-radius: inherit;
    text-align: center;
    width: 30px;
    height: 30px;
    &:first-child {
      background-color: $primary-color;
      color: $background-color;
    }
    &:last-child {
      color: $primary-color;
    }
  }

  &.active {
    background-color: $primary-color;
    color: $background-color;
    & p {
      &:first-child {
        background-color: $background-color;
        color: $primary-color;
      }
      &:last-child {
        color: $background-color;
      }
    }
  }
}

.button {
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $background-color;
  }
}
