@font-face {
  font-family: 'PlayFair';
  src: url('../assets/fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'PlayFair';
  src: url('../assets/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'PlayFair';
  src: url('../assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'DMSans';
  src: url('../assets/fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'DMSans';
  src: url('../assets/fonts/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'DMSans';
  src: url('../assets/fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DMSans';
}
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PlayFair';
}
