@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';
@import '../../../assets/styles/layout';
@import '../../../assets/styles/ui';

.cardWrapper {
  @extend .layout-grid;
  .card {
    max-width: 306px;
    padding: 0;
    border: none;
    border-radius: 12px;
    text-align: left;
    p {
      max-width: 280px;
    }
  }
}

.header {
  @extend .ui-section-header;
}

.services {
  background-color: $background-color;
  padding: 120px 0;
  .wrapper {
    @extend .layout-container;
    @include flex(center, flex-start, column, 4rem);
  }
  .header {
    max-width: 675px;
  }
}
.img {
  @include img(100%, 320px, cover);
  border-radius: 12px;
}
.catering {
  background-image: url('./assets/catering.png');
}
.birthday {
  background-image: url('./assets/birthday.png');
}
.wedding {
  background-image: url('./assets/wedding.png');
}
.event {
  background-image: url('./assets/event.png');
}

@media screen and (max-width: 1300px) {
  .services {
    .wrapper {
      align-items: center;
    }
  }
}
