@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex($justify, $align, $direciton: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direciton;

  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin font($size, $weight: 400, $height: 24px) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin img($width, $height) {
  background-position: center;
  background-repeat: no-repeat;
  width: $width;
  height: $height;
  background-size: contain;
}
