$primary-color: #474747;
$secondary-color: #ad343e;
$accent-color: #dbdfd0;

$background-color: #f9f9f7;
$background-secondary-color: #ffffff;

$text-color: #2c2f24;
$text-secondary-color: #f9f9f7;
$text-xs-color: #414536;
$text-accent-color: #495460;

$border-width: 1.5px;
$border-color: #2c2f24;

$button-color: #182226;
